<!DOCTYPE html>

<html>

	<head>
		<title>Contact</title>
		<link rel="stylesheet" type="text/css" href="contact.css"/>
	</head>

	<body>
		<h2><a href="personalwebsite.html"/>Home</a></h2>
		<h2>My Email: ypw1380@gmail.com </h2>
		<h3>Mobile Phone: 267-974-4179</p>
	</body>

</html>