<!DOCTYPE html>

<html>

	<head>
		<title>Experiences</title>
		<link rel="stylesheet" type="text/css" href="experiences.css"/>
	</head>

	<body>
		<h2><a href="personalwebsite.html"/>Home</a></h2>
		<h1>My Experiences</h1>
		<p>I was born in South Korea and moved to America at age 3.</p>
		<p>I grew up in the suburbs of Philadelphia.
		<p>Went to college in Atlanta.<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS_PI7oENtIKlp5IyqSbBKEBJS6gvvpz2Qg1LHK4XZt7Yf0eWSLyKfuxAML"/></p>
		<p>Moved to NYC in 2002!</p>
		<p>Have since been able to travel to many different places.  I really like traveling to all the different cities in the US, but my favorite trip recently was to South Korea. (pics)
			<li><a href="https://www.facebook.com/photo.php?fbid=10151075977101137&l=008e9fb093"/>Seoul</a></li>
			<li><a href="https://www.facebook.com/photo.php?fbid=10151075977786137&l=ea5b8124d7"/> Taekwondo Tourney</a></li>
		</p>

	</body>

</html>

		

	