<!DOCTYPE html>

<html>

	<head>
		<title>My life</title>
		<link rel="stylesheet" type="text/css" href="personalwebsite.css"/>
	</head>

	<body>
		<nav class="top">
			<ul>
				<li><a href="interests.html">Interests</a></li>
				<li><a href="experiences.html">Experiences</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</nav>

		<div class="main">
			<p class="name">Young Kim</p>
			<img src="https://scontent-a-lga.xx.fbcdn.net/hphotos-ash2/29188_399123746136_2989470_n.jpg?lvh=1"/>
			<p class="intro">Welcome to my Site!  I would like to share some interests and my past experiences.  If you would like to learn more about me please click on the links above.</p>
		</div>

	</body>
</html>

		

	